<%= form_for(push_token) do |f| %>
  <% if push_token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(push_token.errors.count, "error") %> prohibited this push_token from being saved:</h2>

      <ul>
      <% push_token.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :os %>
    <%= f.text_field :os %>
  </div>

  <div class="field">
    <%= f.label :push_token %>
    <%= f.text_field :push_token %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
