<p id="notice"><%= notice %></p>

<h1>Playlist Songs</h1>

<table>
  <thead>
    <tr>
      <th>Playlist</th>
      <th>Song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlist_songs.each do |playlist_song| %>
      <tr>
        <td><%= playlist_song.playlist %></td>
        <td><%= playlist_song.song %></td>
        <td><%= link_to 'Show', playlist_song %></td>
        <td><%= link_to 'Edit', edit_playlist_song_path(playlist_song) %></td>
        <td><%= link_to 'Destroy', playlist_song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playlist Song', new_playlist_song_path %>
