<p id="notice"><%= notice %></p>

<h1>Push Tokens</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Os</th>
      <th>Push token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @push_tokens.each do |push_token| %>
      <tr>
        <td><%= push_token.user %></td>
        <td><%= push_token.os %></td>
        <td><%= push_token.push_token %></td>
        <td><%= link_to 'Show', push_token %></td>
        <td><%= link_to 'Edit', edit_push_token_path(push_token) %></td>
        <td><%= link_to 'Destroy', push_token, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Push Token', new_push_token_path %>
