<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @push_token.user %>
</p>

<p>
  <strong>Os:</strong>
  <%= @push_token.os %>
</p>

<p>
  <strong>Push token:</strong>
  <%= @push_token.push_token %>
</p>

<%= link_to 'Edit', edit_push_token_path(@push_token) %> |
<%= link_to 'Back', push_tokens_path %>
