<p id="notice"><%= notice %></p>

<h1>Song Histories</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Song</th>
      <th>Device</th>
      <th>Media</th>
      <th>Track source</th>
      <th>Album</th>
      <th>Duration</th>
      <th>Genre</th>
      <th>Album art uri</th>
      <th>Track number</th>
      <th>Num tracks</th>
      <th>Recorded at</th>
      <th>Point</th>
      <th>Accuracy</th>
      <th>Altitude</th>
      <th>Record type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @song_histories.each do |song_history| %>
      <tr>
        <td><%= song_history.user %></td>
        <td><%= song_history.song %></td>
        <td><%= song_history.device %></td>
        <td><%= song_history.media_id %></td>
        <td><%= song_history.track_source %></td>
        <td><%= song_history.album %></td>
        <td><%= song_history.duration %></td>
        <td><%= song_history.genre %></td>
        <td><%= song_history.album_art_uri %></td>
        <td><%= song_history.track_number %></td>
        <td><%= song_history.num_tracks %></td>
        <td><%= song_history.recorded_at %></td>
        <td><%= song_history.point %></td>
        <td><%= song_history.accuracy %></td>
        <td><%= song_history.altitude %></td>
        <td><%= song_history.record_type %></td>
        <td><%= link_to 'Show', song_history %></td>
        <td><%= link_to 'Edit', edit_song_history_path(song_history) %></td>
        <td><%= link_to 'Destroy', song_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song History', new_song_history_path %>
