<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @song_history.user %>
</p>

<p>
  <strong>Song:</strong>
  <%= @song_history.song %>
</p>

<p>
  <strong>Device:</strong>
  <%= @song_history.device %>
</p>

<p>
  <strong>Media:</strong>
  <%= @song_history.media_id %>
</p>

<p>
  <strong>Track source:</strong>
  <%= @song_history.track_source %>
</p>

<p>
  <strong>Album:</strong>
  <%= @song_history.album %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @song_history.duration %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @song_history.genre %>
</p>

<p>
  <strong>Album art uri:</strong>
  <%= @song_history.album_art_uri %>
</p>

<p>
  <strong>Track number:</strong>
  <%= @song_history.track_number %>
</p>

<p>
  <strong>Num tracks:</strong>
  <%= @song_history.num_tracks %>
</p>

<p>
  <strong>Recorded at:</strong>
  <%= @song_history.recorded_at %>
</p>

<p>
  <strong>Point:</strong>
  <%= @song_history.point %>
</p>

<p>
  <strong>Accuracy:</strong>
  <%= @song_history.accuracy %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @song_history.altitude %>
</p>

<p>
  <strong>Record type:</strong>
  <%= @song_history.record_type %>
</p>

<%= link_to 'Edit', edit_song_history_path(@song_history) %> |
<%= link_to 'Back', song_histories_path %>
